################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MidPointPasswordFilterInstaller.CustomInstaller/obj
/MidPointPasswordFilter/x64/Debug
/MidPointPasswordFilterEncryptor/Debug
/MidPointPasswordFilterInstaller/Debug
/MidPointPasswordFilterInstaller.CustomInstaller/bin/Debug
/MidPointPasswordFilterProcessor/bin/Debug
/MidPointPasswordFilterProcessor/obj
/x64/Debug
/.vs/MidPointPasswordFilter/v15
/ConsoleApplicationTest/Debug
/Debug
/MidPointEncryption/Debug
/old.git/logs
/old.git/objects
/ConsoleApplicationTest/Release
/MidPointEncryption/Release
/MidPointPasswordFilter/Release
/MidPointPasswordFilterEncryptor/Release
/Release
/MidPointPasswordFilterProcessor/bin/Release
/MidPointPasswordFilterInstaller.CustomInstaller/bin/x86/Release
/MidPointPasswordFilterInstaller.CustomInstaller/bin/x86/Debug
/ConsoleApplicationTest/x64/Debug
/MidPointEncryption/x64/Debug
/MidPointPasswordFilterEncryptor/x64/Debug
/MidPointPasswordFilterProcessor/bin/x64/Debug
/ConsoleApplicationTest/x64/Release
/x64/Release
/MidPointEncryption/x64/Release
/MidPointPasswordFilter/x64/Release
/MidPointPasswordFilterEncryptor/x64/Release
/MidPointPasswordFilterInstaller.CustomInstaller/bin/x64/Release
/MidPointPasswordFilterProcessor/bin/x64/Release
