<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="DefaultEndpoint"  value="http://localhost/midpoint/ws/model-3" /> <!-- http://localhost:8080 -->
      <add key="AdminUserName"  value="administrator" /> <!-- D9A662916A199D43BADF208E2BC47F43575C68E6168273F7BF9F9EE2D5952E1A -->
      <add key="AdminPassword"  value="administrator" /> <!-- 938728F1F8571F9630ADE3DC1D66A881 -->
    </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="ModelWebServiceServiceSoapBinding">
              </binding>
              <binding name="modelBinding">
              </binding> 
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="" binding="basicHttpBinding" bindingConfiguration="ModelWebServiceServiceSoapBinding"
                contract="MidpointModelWebService.modelPortType" name="ModelWebServicePort" />
            <endpoint address="http://localhost/midpoint/ws/model-3" binding="basicHttpBinding"
                bindingConfiguration="modelBinding" contract="MidpointModel3WebService.modelPortType"
                name="modelPort" />
        </client>
    </system.serviceModel>
</configuration>